/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* Load all the components */
@import "./components/logo";
@import "./components/hero";
@import "./components/psso-table";
@import "./components/skeleton";
@import "./components/alert";
@import "./components/modal";

body {
  background-color: #f3f4f6;
}
/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}
