.Hero {
  margin-top: 8rem;
  text-align: center;

  h1 {
    font-weight: 400;
  }

  .btn {
    cursor: pointer;
    display: inline-block;
    padding: 0 3rem;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: #f9fafb;
    background-color: #7c3aed;
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 0.1rem solid #7c3aed;
    border-radius: 0.5rem;
  }
}
