table {
  @apply block rounded shadow-lg overflow-x-auto whitespace-nowrap text-center dark:border-gray-50;

  th {
    padding: 2rem 1rem !important;
    font-weight: normal;
  }

  td {
    @apply bg-gray-50 p-4 dark:bg-gray-900 dark:text-gray-50;
  }

  th {
    @apply dark:text-gray-50 dark:bg-purple-800;
  }

  .qis_konto {
    @apply bg-gray-100 dark:bg-gray-800 dark:text-gray-50;
  }

  .qis_kontoOnTop {
    @apply bg-gray-50 dark:bg-gray-900 dark:text-gray-50;
  }

  .mod_n_basic {
    width: 100%;
    text-align: left;
  }
  .mod_n_odd {
    width: 100%;
    text-align: left;
  }

  .mod_n_even {
    text-align: left;
  }

  .mod_header {
    text-align: left;
  }

  .tabelle1_alignleft {
    text-align: left;
  }

  th:first-of-type {
    border-top-left-radius: 0.25rem;
  }
  th:last-of-type {
    border-top-right-radius: 0.25rem;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 0.25rem;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 0.25rem;
  }
}
