table {
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  th {
    padding: 2rem 1rem !important;
    font-weight: normal;
  }

  td {
    padding: 1rem !important;
    background-color: #f9fafb;

    .qis_konto {
      background-color: #f3f4f6;
    }
  }

  .mod_n_basic {
    width: 100%;
  }
  .mod_n_odd {
    width: 100%;
  }
}
