<section class="container px-4 py-12 mx-auto">
  <h1 class="text-4xl font-extrabold leading-none tracking-normal text-gray-900 md:text-6xl md:tracking-tight">Bescheinigungen</h1>
  <%= if @data == :loading do %>
    <%= render(PssoWeb.ComponentView, "skeleton.html", []) %>
  <% else %>
    <section class="my-4">
      <%= @data %>
    </section>
  <% end %>
</section>
